<h2>{{title}}</h2>
<div class="list-group">
    <a class="list-group-item"
       *ngFor="#item of list"
       [ngClass]="{grayedOut: item.grayedOut}"
       href="javascript:{}" 
       (click)="updateCorrespondingItems(item)">{{item.name}}
        <rating class="pull-right"
                *ngIf="item.showRating"
                [(ngModel)]="item.rating"
                [max]="max" [readonly]="isReadonly"
                (onHover)="hoveringOver($event)"
                (onLeave)="resetStar($event)"
                [titles]="['one','two','three']"></rating>
	</a>
</div>

